*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    background-color: #f3f3f3;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    width: 100%;
    background-color: #0d1821;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.img {
    margin-top: 25px;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #BBBBBB; 
    padding: 3px;
}

.img .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #F1F1F1; 
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name {
    font-size: 22px;
    color: #f0f4ef;
}

.text-data .degree {
    font-size: 18px;
    color: #b4cded;
}

.degree {
    margin-bottom: 10px;
    text-decoration: underline;
}

.name {
    margin-bottom: 10px;
    margin-top: 20px;
}

.text-data .job {
    font-size: 1rem;
    color: #f0f4ef;
}

.job {
    margin-bottom: 10px;
}

.profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-buttons .links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    width: 34px;
    height: 34px;
    border-radius: 25%;
    margin: 0px 8px;
    background-color: #2A3D5F ;
    text-decoration: none;
}

.links:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: ease-in 0.2s;
    
}

.profile-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn a{
    font-size: 22px;
}

.btn .btn-link {
    border-radius: 7px;
    text-decoration: none;
    margin: 0 10px;
    background: #0056b3;
    padding: 8px 24px;
    color: white;
}

.btn-link:hover {
    color: black;
    background-color: white;
    transition: ease-in 0.111s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.highlights-it {
    color: #1d6ed8;
}







/* Media */

@media (max-width: 504px ) {
    .text-data .job {
        font-size: .85rem;
    }

    .text-data .degree {
        font-size: 1rem;
    }
}

@media (max-width: 444px ) {
    .text-data .job {
        font-size: .75rem;
    }

    .text-data .degree {
        font-size: 1rem;
    }
}

@media (max-width: 396px ) {
    .text-data .job {
        font-size: .60rem;
    }

    .text-data .degree {
        font-size: .9rem;
    }
}